<div class="editWrapper">
  <div class="editContainer">
    <h1>Editing Client</h1>

<%= render 'form', client: @client %>
    <div class="navLinks">
<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
    </div>
  </div></div>