<div class="editWrapper">
  <div class="editContainer">
    <h1>New Client</h1>
    <div class="navLinks">
<%= render 'form', client: @client %>
<%= link_to 'Back', clients_path %>
    </div>
  </div></div>